@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

calendar {
    display: inline-block;
    width: 270px;
    padding-top: 20px;
    border: 1px solid #ccc;
    position: relative;
    top: 50px;
    left: 50px;
    font-family: 'Open Sans', sans-serif
}

calendar .periods {

}

calendar .period {
    height: 60px;
    display: flex;
    flex-direction: row;
}

calendar .period .name {
    flex: 0 1 70px;
    padding-right: 10px;
    color: gray;
    font-size: 16px;
    font-weight: 200;
    text-align: right;
}

calendar .period:nth-child(2n) .name {
    font-size: 12px;
}

calendar .events {
    display: inline-block;
    position: relative;
    flex: 1 1 auto;
}

calendar .events .event {
    font-size: 14px;
    background-color: #E2ECF5;
    border-left: 2px solid #6E9ECF;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    width: 100%;
}
